@Styles.Render("~/Content/LoginReg.css")

<body>
    <div class="wrapper">
        <div class="card-holder">
            <div class="card">
                <div class="card-body">
                    <form @*action="/core/register?signin=23a0a4dd9b77b7ba7ec6d7edb7c40439" method="post" role="form"*@>

                        <h2 class="text-center">Get your free Library account</h2>

                        <input name="WinterOffset" id="WinterOffset" type="hidden" />
                        <input name="SummerOffset" id="SummerOffset" type="hidden" />
                        <input name="DateFormat" id="DateFormat" type="hidden" />
                        <input name="TimeFormat" id="TimeFormat" type="hidden" />

                        <div class="form-group">
                            <label class="col-form-label" for="Email">Email</label>

                            <input class="form-control" data-val="true" data-val-length="The name field should have from 1 to 100 symbols." data-val-length-max="100" data-val-length-min="1" data-val-required="Please enter your Email." id="email" name="Email" placeholder="Email" type="email" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="Password">Password</label>

                            <input class="form-control" data-val="true" id="password" name="Password" placeholder="Password" type="password" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="ConfirmPassword">Confirm Password</label>

                            <input class="form-control" data-val="true" id="confirmpassword" name="ConfirmPassword" placeholder="Confirm Password" type="password" value="" />
                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>

                        <div class="row no-gutters">
                            <div class="col-6 pr-2">
                                <input type="submit" id="submit" class="btn btn-primary btn-block btn-signup px-0" value="Sign Up" />
                            </div>
                        </div>

                        <div class="auth-bottom-text text-center">
                            Already use Library? <strong><a href="~/Registration/Login">Login</a></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                var data = {
                    Email: $('#email').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function () {
                        alert("Регистрация пройдена");
                    },
                    error: function () {
                        alert("В процесе регистрации возникла ошибка");
                    }
                });
            });
        })
    </script>
}